body {
  background-color: white;
  width: 960px;
  margin: auto;

}

#topbar {
  background-color: black;
  height: 3px;
  width: 960px;
  padding-top: 1%;
}

.home-1 {
  display: inline;
}

/* #bottom1{
  width:90px;
  height: 300px;
  float:left;
  margin-top:15px;
  background-color: rgb(10, 34, 139); */
/* } */
#header {
  font-size: 55px;
  padding-top: 2px;
  margin-top: 2px;
  color: rgb(15, 163, 15);
  padding-top: 25px;
}

#rest {
  text-align: justify;
  width: 760px;
  color: crimson;
  /* text-align: center; */
  /* padding:5px; */
  font-size: 20px;
  /* padding-left:20px ; */
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
}

a {
  font-size: 23px;
  display: inline;
}

#home {
  list-style-type: none;
}

#home a {
  float: right;
  margin-top: -90px;
  text-decoration: none;
  margin-right: 50px;
  color: crimson;
  display: inline;
}

.images {
  float: left;
  padding-bottom: 100px;
  padding-top:10p;
  margin-left: 10px;
  margin-right: 5px;
  margin-top:10px;
margin-bottom:30px;
}

.video {
  padding-bottom: 10px;
  padding-top: 15px;
}

.readmore {
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(226, 198, 43);
  border: 1px solid crimson;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.para-detail {
  font-size: 50px;
}

.h1-heading {
  font-size: 50px;
  padding-top: 40px;
  padding-bottom:60px;
}